# Zero-Install
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Production
dist

# Misc
.DS_Store
.env.local
.env.development
.env.development.local
.env.production
.env.production.local
.env.test.local

# Packages
/packages/react/.yarn/*
/packages/react/yarn.lock
/packages/react/.pnp.cjs
/packages/react/.pnp.loader.mjs
/packages/react/package.json
/packages/react/tsconfig.tsbuildinfo
/packages/react/webpack/*
/packages/react/src/*

# Release
!/packages/react/src/components